node_modules
dist
.git
.gitignore
.env
.env.*
!.env.example
coverage
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
*.md
!README.md
.vscode
.idea
test
*.spec.ts
*.test.ts
docker-compose*.yml
Dockerfile*
.github
prisma/migrations/dev
